@using System.Globalization;
@model PizzaRemySofia.Models.MenuViewModel

@{
    ViewData["Title"] = "Меню";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@foreach (var cat in Model.Items)
{
    <div>
        <h4 class="menu-category">
            @cat.Key.NameBg.ToUpper() / 
            <span class="menu-en"> 
                @cat.Key.NameEn.ToUpper()
            </span>
        </h4>

        @foreach (var menuItem in cat.Value)
        {
            <div class="menu-item">
                <div class="row">
                    <div class="col-sm-10">
                        <strong>
                            @menuItem.NameBg / 
                            <span class="menu-en"> 
                                @menuItem.NameEn
                            </span>
                        </strong>
                    </div>
                    <div class="col-sm-1">
                        @menuItem.Weight гр.
                    </div>
                    <div class="col-sm-1">
                        @menuItem.Price.ToString("c", new CultureInfo("bg-BG"))
                    </div>
                </div> 
                <div>
                    @if (!string.IsNullOrEmpty(menuItem.DescriptionBg))
                    {
                        <span>/</span>@menuItem.DescriptionBg<span>/</span>
                    }
                </div>
                <div class="menu-en">
                    @if (!string.IsNullOrEmpty(menuItem.DescriptionEn))
                    {
                        <span>/</span>@menuItem.DescriptionEn<span>/</span>
                    }
                </div>
            </div>
        }
    </div>
}
